<!DOCTYPE html>
<html>
<head>
	<title>PJ Rosa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="keywords" content="designer, product designer, pj rosa, pj, loser, weeb, anime, please don't read my meta tags, nyc, new york, nj, new jersey">
	<link rel="author" href="https://www.linkedin.com/in/pjrosa/"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta property="og:url" content="pjrosa.com">
	<meta property="og:image" content="/images/assets/meta-image.jpg">
	<meta property="og:description" content="An inter-disciplinary designer based in the NJ/NYC area.">
	<meta property="og:title" content="Portfolio of PJ Rosa">
	<meta property="og:site_name" content="Portfolio of PJ Rosa">
	<meta property="og:see_also" content="pjrosa.com">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="pjrosa.com">
	<meta name="twitter:title" content="Portfolio of PJ Rosa">
	<meta name="twitter:description" content="An inter-disciplinary designer based in the NJ/NYC area.">
	<meta name="twitter:image" content="/images/assets/meta-image.jpg">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyavwjaLMb">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyavwjaLMb">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyavwjaLMb">
	<link rel="manifest" href="/manifest.json?v=yyavwjaLMb">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyavwjaLMb" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v=yyavwjaLMb">
	<meta name="theme-color" content="#ffffff">

	<% if app.build? %>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54481131-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-54481131-1');
	</script>
	<% end %>

	<%= stylesheet_link_tag "base", "about", "work", "article", "lity.min", "aos", "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js", "functions", "lity.min", "aos" %>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			AOS.init({
				disable: window.innerWidth < 769
			});
		});
	</script>

</head>
<body>
	<div class="container">
		<h3 class="home name"><%= link_to("PJ Rosa", "/") %><!--<div class="right"><%= link_to("Work", "/") %><%= link_to("Journal", "/journal") %></div>--></h3>
		<%= yield %>  
	</div>
	<footer>
		<%= partial "footer" %>
	</footer>
</body>
</html>