---
work_items: true
---

<section id="article">
	<h3 class="name"><%= link_to('back', '/', class:'back-button') %></h3>
	<header id="article-header">
		<div class="article-banner">
			<img src="/images/<%=project.image_path %>/<%= project.banner %>">
		</div>
		<div class="article-header-content">
			<h1><%= project.name %></h1>
			<h2><%= project.subhead %> - Role(s): <%= project.roles %></h2>
			<div class="divider"></div>
			<p><%= project.intro %></p>
			<% if project.contributors %>
			<div class="contributors">
				<p>Contributors:</p>
				<% project.contributors.each_with_index do |contributor| %>
				<%= link_to(contributor.name, contributor.portfolio, class: "tiny-btn", target: '_blank') %>
				<% end %>
			</div>
			<% end %>
			<% if project.link %>
			<div class="article-project-link">
				<%= link_to(project.link_text, project.link, target: '_blank') %>
			</div>
			<% end %>
		</div>
	</header>
	<% if project.description %>
	<div id="article-extended">
		<% if project.images %>
		<div class="article-gallery">
			<% project.images.each_with_index do |image| %>
			<div class="article-gallery-image">
				<%= image_tag("/images/#{project.image_path}/#{image}", { :"data-lity" => ""}) %>
			</div>
			<% end %>
		</div>
		<% end %>
		<%= project.description %>
	</div>
	<% end %>
</section>