---
work_items: true
---

<section id="article">
	<h3 class="name"><%= link_to('back', '/', class:'back-button') %></h3>
	<header id="article-header">
		<div class="article-banner" style="background-image:url('/images/<%=project.image_path %>/<%= project.banner %>');"></div>
		<div class="article-header-content">
			<h1><%= project.name %></h1>
			<h2><%= project.subhead %> - Role(s): <%= project.roles %></h2>
			<div class="divider"></div>
			<p><%= project.intro %></p>
			<% if project.link %>
			<div class="article-project-link">
				<%= link_to(project.link_text, project.link, target: '_blank') %>
			</div>
			<% end %>
		</div>
	</header>
	<% if project.images %>
	<div id="article-extended">
		<div class="article-gallery">
			<!-- look up how to iterate through things -->
			<% project.images.each_with_index do |image| %>
			<%= image_tag("/images/#{project.image_path}/#{image}", { :class => "article-gallery-image", :"data-lity" => ""}) %>
			<% end %>
		</div>
		<% if project.description %>
		<%= project.description %>
		<% end %>
	</div>
	<% end %>
</section>