---
work_items: true
---
<section id="article">
	<div class="fill"><div class="nav"><h3 class="name"><%= link_to('back', '/', class:'back-button') %></h3></div></div>
	<header id="article-header">
		<div class="article-banner" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800" data-aos-delay="0">
			<img src="/images/<%=project.image_path %>/<%= project.alias %>-banner.jpg">
		</div>
		<div class="article-header-content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800" data-aos-delay="200">
			<h1><%= project.name %></h1>
			<h2><%= project.subhead %> - Role(s): <%= project.roles %></h2>
			<div class="divider"></div>
			<p><%= project.intro %></p>
			<% if project.contributors %>
			<div class="link-section">
				<p>Contributors:</p>
				<% project.contributors.each_with_index do |contributor| %>
				<%= link_to(contributor.name, contributor.portfolio, class: "tiny-btn", target: '_blank') %>
				<% end %>
			</div>
			<% end %>
			<% if project.link %>
			<div class="article-project-link">
				<%= link_to(project.link_text, project.link, target: '_blank') %>
			</div>
			<% end %>
		</div>
	</header>
	<% if project.sections %>
	<div id="article-extended" data-aos="fade-up" data-aos-anchor="article-header" data-aos-easing="ease-out-quad" data-aos-duration="400" data-aos-delay="400">
		<% project.sections.each_with_index do |section| %>
		<% if section.image %>
		<div class="article-image">				
			<%= image_tag("/images/#{project.image_path}/#{section.image}", { :"data-lity" => ""}) %>
			<p class="caption"><%= section.caption %></p> 
		</div>
		<% end %>
		<div class="article-text">
			<%= section.text %>
		</div>
		<% if section.links %>
		<div class="link-section">
			<% section.links.each_with_index do |link| %>
			<%= link_to(link.link_text, link.link, class: "tiny-btn", target: '_blank') %>
			<% end %>
		</div>
		<% end %>
		<% if section.breakout %>
		<div class="breakout">
			<%= image_tag("/images/#{project.image_path}/#{section.breakout}", { :"data-lity" => ""}) %>
			<p class="caption"><%= section.breakout_text%></p>
		</div>
		<% end %>
		<% if section.gallery %>
			<% section.gallery.each_with_index do |gallery| %>
			<div class="article-gallery">
				<% if gallery.header %>
				<h2><%= gallery.header%></h2>
				<% end %>
				<div class="article-gallery-container">
					<% if gallery.images %>
					<% gallery.images.each_with_index do |image| %>
					<div class="article-gallery-image">
						<%= image_tag("/images/#{project.image_path}/#{image.image_thumb}", { :"data-lity" => "", :"data-lity-target" => "/images/#{project.image_path}/#{image.image_url}"}) %>
					</div>
					<% end %>
					<% end %>
				</div>
			</div>
			<% end %>
			<% end %>
		<% end %>
	</div>
	<% end %>
</section>